@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    max-height: 100vh;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}